<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/railway.css">
    <link rel="icon" href="static/images/rail.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Railway Tickets</title>
    
</head>
<body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary  " >
        <div class="container">
            <a class="navbar-brand" href="railway.html"><img  src="static/images/logo.png" alt="logo" ></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            
           
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="row">
                    <div class="col-16">
                        <h4 class="navbar-nav-title " >INDN Railway </h4>
                    </div>
                    <div class=" col-16 " style="padding-left: 159px;"><p></p></div>
                </div>
                <div class="navbar-nav ms-auto">
                <!--{% if request.user.is_authenticated %}
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"><i class="fa fa-user"></i> {{request.user}}</a>
                -->
                <a class="nav-link home-popup" aria-current="page" href="railway.html"><button class="btnloginpopup" ><i class="fa fa-home"></i> Home</button></a>
                <!--{% else %}
                <a class="nav-link" aria-current="page" href="railway.html"><i class="fa fa-home"></i> Home</a>
               -->
                <a class="nav-link btn-login" href="#"> <button class="btnloginpopup" id="hdlgbtn" onclick="log()"><i class="fa fa-sign-in"></i> Login</button></a>
                <a class="nav-link" href="register.html"><button class="btnloginpopup" ><i class="fa fa-users"></i> Register</button></a>
                <!--{% endif %}-->
                </div>
            </div>
        </div>
      </nav>

<div id="wraparea">
      <section class="wrappers" id="wrappers">
        <div class="wrapper">
            <span><span onclick="cls()"  id="clseico" class="iconify" data-icon="icon-park:close"></span></span>
            <div class="form-box login">
                <h2 id="123" >Login</h2>
                <form action="ee.php">
                    <div class="input-box">
                        <label>User Name</label>
                        <input type="text" required>
                        
                    </div>
                    <div class="input-box">
                        <label>Password</label>
                        <input type="password" required><i class="fa fa-eye" aria-hidden="true"></i>
                    
                    </div>
                    <div class="forget"><h6><input type="checkbox"> Remember Password</h6></div>
                    
                    <button type="submit" class="btn">Login</button>
                    <div class="login-register">
                        <p>Don't have an account?<a href="register.html">Register</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>   
</div>

    <div  class="container-fluid bg" >
        <div class="container-fluid" >
            <div class="container pt-5 rail" >
                <h2><img src="static/images/metro.png" alt="metro train" width="55px">Book your seats Now!</h2>      
            </div>
			
			<div id="det">
				<h2>IRCTC Train Tickt booking on INDN</h2>
				<p><h5>IRCTC authorised Partner</h5></p>
				<div class="row justify-content-center imgs">
					<div class="col-lg-4 md-4 sm-6 " id="bx">
						<img src="static/images/train2.jpg" alt="">
						<h5><u>Train</u></h5>
						<p>A train is a series of connected vehicles that run along a railway track and transport people or freight. Trains are typically pulled or pushed by locomotives, though some are self-propelled, such as multiple units. Passengers and cargo are carried in railroad cars, also known as wagons.</p>
					</div>
					<div class="col-lg-4 md-4 sm-6" id="bx">
						<img src="static/images/train1.jpg" alt="">
						<h5><u>Indian Railway Catering and Tourism Corporation</u> </h5>
						<p>Indian Railway Catering and Tourism Corporation is an Indian public sector undertaking that provides ticketing, catering, and tourism services for the Indian Railways.</p>
					</div>
					<div class="col-lg-4 md-4 sm-6" id="bx">
						<img src="static/images/train3.jpg" alt="">
						<h3><u>INDN Railways</u></h3>
						<p>INDN Railways working a part of the ticket booking company.It have a official rights of authorised ticket booking partner.
							we are here for give a good servies,commision bassed.Book your tickets <a href="#">here.</a> </p>
					</div>
					
				</div>
				
			</div>
			
        </div>
    </div>
    
 

    

<footer class="text-center text-lg-start bg-dark text-white bottom">
    <section class="container d-flex justify-content-lg-between p-4">
        <div class="me-5 d-none d-lg-block">
            <span style="text-transform: uppercase;">Get connected with us on social networks:</span>
        </div>
        
        <div>
            <a href="https://www.facebook.com/sowndhar.randy?mibextid=ZbWKwL" class="me-4 text-reset"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/RandySowndhar?t=7P9VrT4Fi3SU8DFk7Cu60w&s=09" class="me-4 text-reset"><i class="fa fa-twitter"></i></a>
            <a href="mailto:sowndharrandy23@gmail.com" class="me-4 text-reset"><i class="fa fa-google"></i></a>
            <a href="https://instagram.com/mr.dhiran_23?igshid=ZDdkNTZiNTM=" class="me-4 text-reset"><i class="fa fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/indhiran-v-a0436a233" class="me-4 text-reset"><i class="fa fa-linkedin"></i></a>
            
        </div>
    </section>
    
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4"><a href="{% url 'home' %}" class="text-reset " ><i class="fa fa-cart-plus"></i> INDN Railways</a></h6>
                    <p>
                        We offered you to book train tickets at lowest rate.Compare to every partners,we are legally supports for passangers.Thank you for got a touch with our service.
                    </p>
                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Useful Links</h6>
                    <p><a href="https://www.facebook.com/sowndhar.randy?mibextid=ZbWKwL" class="text-reset " >Facebook</a></p>
                    <p><a href="https://twitter.com/RandySowndhar?t=7P9VrT4Fi3SU8DFk7Cu60w&s=09" class="text-reset">Twitter</a></p>
                    <p><a href="https://instagram.com/mr.dhiran_23?igshid=ZDdkNTZiNTM=" class="text-reset">Instagram</a></p>
                    
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4 contact">Contact</h6>
                    <p><i class="fa fa--home">Indhiran V</i></p>
                    <p><a href="mailto:sowndharrandy23@gmail.com" style="color: white" ><i class="fa fa--envelope"><u>sowndharrandy23@gmail.com</u></i></a></p>
                    <p><i class="fa fa--phone">+91 8870123584</i></p>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center p-4">
        &copy; 2023 Copyright<a class="text-reset fw-bold" href="#"> Indhiran V</a>
    </div>
</footer>

<script src="js/scripts.js"></script>

<script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>
</body>
</html>